<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet'>

<style>
    .navbar {
        width: 1500px;
        margin: auto;
    }

    .navbar-pic {
        width: 1500px;
        height: 300px;
        position: relative;
    }
    
    .headerBackground {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .largeLogo {
        height: 75%;
        position: absolute;
        top: 36px;
        left: 573px;
        border: 2px solid;
    }

    .navbar-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #87CEEB;
    }

    .navbar-link {
        float: left;
    }

    .navbar-link a {
        display: block;
        color: #CD853F;
        text-align: center;
        padding: 14px 69px;
        text-decoration: none;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 28px;
        
    }

    .navbar-link a:hover {
        background-color: #4eadd2;
    }

</style>

<div class="navbar">
    <div class="navbar-pic">
        <img class="headerBackground" src="/images/headerBackground.jpg">
        <img class="largeLogo" src="/images/LargeLogoFinal.png">
    </div>

    <div class="navbar-nav">
        <ul class="navbar-list">
            <li class="navbar-link"><a href="/about">Peru</a></li>
            <li class="navbar-link"><a href="/about">China</a></li>
            <li class="navbar-link"><a href="/about">Destination Map</a></li>
            <li class="navbar-link"><a href="/about">Find a Destination</a></li>
            <li class="navbar-link"><a href="/about">About Me</a></li>
        </ul>
    </div>
</div>