/* Import rock salt font from google */
@import url(https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap);

/* Import montserrat font from google */
@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);

/* Import sanchez font from google */
@import url(https://fonts.googleapis.com/css2?family=Sanchez&display=swap);

body { 
    margin: 0px; 
}

.content {
    width: 1140px;
    margin: 0px auto;
}

/* Headings and paragraphs 
Note: Be aware of browser applied user agent stylesheets
*/
h1 {
    font-family: 'Rock Salt';
    font-size: 36px;
    text-align: center;
}
.h1-location {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family: 'Rock Salt';
    font-size: 42px;
    text-align: center;
    font-weight: normal;
}

h2 {
    font-family: 'Montserrat';
    font-size: 28px;
    text-align: center;
}

.h2-welcome {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 28px;
    color: #CD853F;
    text-align: center;
    text-decoration: underline;
    margin: 5px;
}

.h2-facts {
    font-family: 'Montserrat';
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin: 0px;

    border: 1px solid black;
}

.h2-heading {
    font-family: 'Montserrat';
    font-size: 26px;
    text-align: center;
    font-weight: 500;
    margin: 2px;
    text-decoration: underline;
}

/*  TODO: Learn and apply object oriented CSS (OOCSS) to text
See here: https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Organizing 
    TODO: Learn and apply relative length units to text for scalability
See here: https://www.w3schools.com/cssref/css_units.asp
*/

.p1 {
    font-family: 'Sanchez';
    font-size: 18px;
}

.p2 {
    font-family: 'Sanchez';
    font-size: 12px;
}

.p1-centered {
    font-family: 'Sanchez';
    font-size: 18px;
    text-align: center;
    line-height: 1.2;
    margin: 5px;
}

.p1-home {
    font-family: 'Sanchez';
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
    margin: auto;
    width: 700px;
}

/* Footer */
.p2-centered {
    font-family: 'Sanchez';
    font-size: 12px;
    text-align: center;
}

.p2-caption {
    font-family: 'Sanchez';
    font-size: 14px;
    text-align: center;
    height: 92px;
    display: table-cell;
    vertical-align: middle;
}

.p-content {
    font-family: 'Sanchez';
    font-size: 14px;
    text-indent: 25px;
    margin: 7px auto;
}

th {
    font-family: 'Sanchez';
    font-size: 14px;
    font-weight: bold;
}

td {
    font-family: 'Sanchez';
    font-size: 14px;
}
/* End headings and paragraphs */

/* Home page elements */
.home-slideshow-container {
    width: 600px;
    height: 370px;
    margin: 10px auto;
}

.home-slideshow-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* End home page elements */

