/* Import rock salt font from google */
@import url(https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap);

/* Import montserrat font with 700 weight from google */
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

/* Import sanchez font from google */
@import url(https://fonts.googleapis.com/css2?family=Sanchez&display=swap);

body { 
    margin: 0px; 
}

h1 {
    font-family: 'Rock Salt';
    font-size: 36px;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 28px;
}

.p1 {
    font-family: 'Sanchez';
    font-size: 20px;
}

.p2 {
    font-family: 'Sanchez';
    font-size: 16px;
}

.p1-centered {
    font-family: 'Sanchez';
    font-size: 20px;
    text-align: center;
}

.p2-centered {
    font-family: 'Sanchez';
    font-size: 16px;
    text-align: center;
}


/* Header partial */
.navbar {
    width: 1500px;
    margin: auto;
}

.navbar-pic {
    width: 100%;
    height: 300px;
    position: relative;
}

.headerBackground {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.largeLogo {
    height: 75%;
    position: absolute;
    top: 36px;
    left: 573px;
    border: 2px solid;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #87CEEB;
}

.navbar-link {
    float: left;
}

.navbar-link a {
    display: block;
    color: #CD853F;
    text-align: center;
    padding: 14px 69px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 28px;
    
}

.navbar-link a:hover {
    background-color: #4eadd2;
}
/* End header partial */