<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head'); %>
	<link rel="stylesheet" type="text/css" href="stylesheets/content_style.css">
</head>
<body>

	<header>
		<%- include('../partials/header'); %>
	</header>

	<main>
		<div class='container'>
			<div class='title'>
				<hr>
				<h1 class="h1-location">China</h1>
				<hr>
			</div>


			<div class='facts'>
				<h2 class="h2-facts">Quick Facts</h2>

				<img src="/images/china/quickFacts/chinaFlag.png" alt="Chinese flag">
				<img src="/images/china/quickFacts/chinaMap.jpg" alt="Chinese map">

				<table>
					<tr>
						<th>Capital</th>
						<td>Beijing (~21.5 million)</td>
					</tr>
					<tr>
						<th>Languages</th>
						<td>Mandarin, Mongolian, Uyghur, Tibetan, and others</td>
					</tr>
					<tr>
						<th>Population</th>
						<td>~1.43 billion</td>
					</tr>
					<tr>
						<th>Currency</th>
						<td>Renminbi (RMB)</td>
					</tr>
					<tr>
						<th>National Animal</th>
						<td>Giant Panda</td>
					</tr>
					<tr>
						<th>National Dish</th>
						<td>Peking Duck</td>
					</tr>
					<tr>
						<th>National Drink</th>
						<td>Baijiu (Alcoholic)<br>Tea (Non-Alcholic)</td>
					</tr>
				</table>
			</div>


			<div class='cuisine-pic'>
				<div class='cuisine-slide fade' style="display: none;">
					<img src="/images/china/cuisine/hotpot.jpg" alt="Hot pot meal">
					<p class="p2-caption">Hot Pot - A boiling pot of soup stock and spices centers a table and individual ingredients are ordered and cooked in the soup.</p>
				</div>

				<div class='cuisine-slide fade' style="display: none;">
					<img src="/images/china/cuisine/jianbing.jpg" alt="Jianbing - streetside snack">
					<p class="p2-caption">Jianbing - Served as a street food snack, jianbing is a wheat and egg fried wrap with various vegetables, meat, and hoisin sauce.</p>
				</div>

				<div class='cuisine-slide fade' style="display: none;">
					<img src="/images/china/cuisine/porkWontons.jpg" alt="Pork wonton dish">
					<p class="p2-caption">Pork Wontons - Pork, spices, and green onions wrapped in a dough wrapper and steamed.</p>
				</div>

				<div class='cuisine-slide fade' style="display: none;">
					<img src="/images/china/cuisine/pekingDuck.jpg" alt="Peking duck dish">
					<p class="p2-caption">Peking Duck - Crispy duck pieces served with a wrap as well as cucumber slices, radish slices, garlic, chili sauce, sugar, and hoisin sauce to be wrapped with the duck.</p>
				</div>

				<div class='cuisine-slide fade' style="display: none;">
					<img src="/images/china/cuisine/mealRoundTable.jpg" alt="Various dishes served at round table">
					<p class="p2-caption">Many meals take place at a round table with many dishes to be shared communally.</p>
				</div>

				<div class='cuisine-slide fade' style="display: none;">
					<img src="/images/china/cuisine/beanPastry.jpg" alt="Red bean paste pastry snack">
					<p class="p2-caption">Streetside pastry snack filled with red bean paste.</p>
				</div>

				<div class='cuisine-slide fade' style="display: none;">
					<img src="/images/china/cuisine/baozi.jpg" alt="Baozi - streetside snack">
					<p class="p2-caption">Baozi - Steamed bun filled with a barbecue pork filling.  Baozi can be filled with a wide variety of ingredients from savory to sweet.</p>
				</div>

				<div class='cuisine-slide fade' style="display: none;">
					<img src="/images/china/cuisine/insectSnacks.jpg" alt="Insects - streetside snack">
					<p class="p2-caption">Scorpions, crickets, and other various bugs served as a streetside snack.</p>
				</div>

				<div class='cuisine-slide fade' style="display: none;">
					<img src="/images/china/cuisine/fruitStand.jpg" alt="Fruit stand - streetside snack">
					<p class="p2-caption">Fruit is a common snack for many Chinese with many types of fruit being sold in small streetside shops.</p>
				</div>

				<div class='cuisine-slide fade' style="display: none;">
					<img src="/images/china/cuisine/noodleBowl.jpg" alt="Noodle bowl dish">
					<p class="p2-caption">Many shops can be found throughout cities offering a varitey of tasty handmade noodle bowls for a very affordable price.</p>
				</div>

				<a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
  				<a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
			</div>

			<div class='cuisine-prompt'>
				<h2 class="h2-heading">Cuisine</h2>
				<p class="p-content"> Cuisine across China varies very much depending on the region.  In fact, there have been classified eight unique regional cuisines with the most influential being Cantanose, Shandong, Jiangsu, and Sichuan. There are however some common staple foods found with many meals.  The one staple you’ll likely find at every meal or used to make a different food product is rice.  Closely behind rice, there are noodles, wheat (bread, buns, noodles), soy products (tofu, soy sauce, soy milk), eggs, and then a huge variety of vegetables as well as meats.  Just to name some of the more common vegetables found there is Chinese eggplant, Chinese mushrooms, Chinese broccoli, leafy vegetables, bamboo shoots, onion, white radishes, and so much more.  Meat and all of its byproducts, be it skin, fat, blood, and even entrails, are also used in many dishes with the choice of meat primarily being pork, beef, chicken and duck. </p>
				<p class="p-content">Chinese cuisine is also known for its wide use of unique spices.  Some of the more common spices used in many of the cuisine include ginger, spring onions, garlic, chilies, anise, cinnamon, peppercorns, as well as many dried spices.  Sauces are also quite common with some of the more popular ones being soy sauce, hoisin sauce, oyster sauce, fish sauce, as well as the many varieties of vinegar which may be used on its own or in a sauce.</p>
			</div>


			<div class='culture-pic'>
				<div class='culture-slide fade' style="display: none;">
					<img src="/images/china/culture/danguiTeaHouse.jpg" alt="Dangui tea house model">
					<p class="p2-caption">Dangui Tea House - Tea houses were a place to socialize around tea and small dishes.  Some tea houses offered a theater for live performances.</p>
				</div>

				<div class='culture-slide fade' style="display: none;">
					<img src="/images/china/culture/painting.jpg" alt="Painting highlighting nature's beauty">
					<p class="p2-caption">Paintings traditionally feature scenes highlighting nature's beauty.</p>
				</div>

				<div class='culture-slide fade' style="display: none;">
					<img src="/images/china/culture/caligraphy.jpg" alt="Tradtional chinese caligraphy">
					<p class="p2-caption">Caligraphy was traditionally seen as one of the highest visual art forms that took years to master.</p>
				</div>

				<div class='culture-slide fade' style="display: none;">
					<img src="/images/china/culture/yuGarden.jpg" alt="Yu garden">
					<p class="p2-caption">Gardens traditionally were built for pleasure and to impress, however, it also serves as a place to reflect and escape from the outside world.</p>
				</div>

				<div class='culture-slide fade' style="display: none;">
					<img src="/images/china/culture/westLake.jpg" alt="West lake">
					<p class="p2-caption">Xi Hu or West Lake in Hangzhou is known for its natural beauty and relics which have historically influenced many poets and painters.</p>
				</div>

				<div class='culture-slide fade' style="display: none;">
					<img src="/images/china/culture/lingyinTemple.jpg" alt="Lingyin temple - 4th century temple">
					<p class="p2-caption">Lingyin Temple - Located in the northwest of Hangzhou, this 4th century temple is one of the largest and wealthiest in China.</p>
				</div>

				<a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
  				<a class="next" onclick="plusSlides(1, 1)">&#10095;</a>

			</div>

			<div class='culture-prompt'>
				<h2 class="h2-heading">Culture</h2>
				<p class="p-content">China’s culture is one of the richest in the world dating back nearly thousands of years ago.  Much of the art is influenced by the country’s history due to its spiritual and mystical characteristics.  Writing and calligraphy are also two important forms of art as well as its sculptures and pottery.  China’s performing arts are also a big part of its culture ranging from its martial arts of Kungfu, traditional folk dances, acrobatics, as well as shadow plays. </p>
				<p class="p-content">Although not as relevant today, religion was an important aspect that helped to shape the country’s culture from its “three teachings.”  These teachings refer to the combination of Confucianism, Taoism, and Buddhism.  These religions/philosophies are still relevant today although in much smaller numbers, however, its teachings are still prevalent in the country’s culture.</p>
				<p class="p-content">Another important aspect of China’s culture is its strong family ties.  Traditionally, the structure of Chinese families has been rigid and hierarchical which is evident in today’s age with many being taught to honor one’s parents or ancestors.  With how much has changed in China’s culture in the last hundred years, this family structure has had to evolve with this change.  Young members of families often move to prosperous cities for work related reasons, however, pressure to marry and move back home increases around the age of thirty.</p>
			</div>


			<div class='geography-pic'>
				<div class='geography-slide fade' style="display: none;">
					<img src="/images/china/geography/shanghai.jpg" alt="Shanghai skyline">
					<p class="p2-caption">The city of Shanghai lies at the end of the Yellow River where it meets the Pacific ocean.</p>
				</div>

				<div class='geography-slide fade' style="display: none;">
					<img src="/images/china/geography/plains.jpeg" alt="Fertile flatlands">
					<p class="p2-caption">The flatlands or plains in the eastern third of the country are heavily used for agriculture due to its fertile lands.</p>
				</div>

				<div class='geography-slide fade' style="display: none;">
					<img src="/images/china/geography/mountains.jpg" alt="Chinese mountain range">
					<p class="p2-caption">Mountains cover up to 55% of China's land and come in all shapes, sizes, and elevations.</p>
				</div>

				<div class='geography-slide fade' style="display: none;">
					<img src="/images/china/geography/gobiDesert.jpg" alt="Gobi desert">
					<p class="p2-caption">Gobi Desert - Located in the north western portion of China, the Gobi is the fourth largest desert in the world.</p>
				</div>

				<div class='geography-slide fade' style="display: none;">
					<img src="/images/china/geography/tibetanPlateau.jpg" alt="Tibetan plateau">
					<p class="p2-caption">Tibetan Plateau - Covering much of the south western portion of China, the Tibetan Plateau is the world's highest and largest plateau.</p>
				</div>

				<a class="prev" onclick="plusSlides(-1, 2)">&#10094;</a>
  				<a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
			</div>

			<div class='geography-prompt'>
				<h2 class="h2-heading">Geography</h2>
				<p class="p-content">Like its cuisine, the geography of China varies much depending on the region.  China’s geography is characterized by its vast mountain ranges, large basins and plateaus, as well as its wide flatlands.  The location of these geographic features can be roughly divided into three regions, the more mountain and plateau dominant area in the southwest third of the country, the desert basins in the northwest third and the flatlands in the eastern third.  Despite the smaller area of the eastern third of the country, nearly ninety-five percent of the country’s population lives in this area.  This is primarily due to the fertile lands that are situated in this region as well as its proximity to the Pacific.</p>
				<p class="p-content">Another important characteristic of China’s vast geography is its rivers which are an important feature in why the country’s flatlands are as fertile as it is.  China is home to two of the longest rivers in the world with the Yangtze River at nearly four thousand miles long and the Yellow River at approximately thirty-four thousand miles long.  These two rivers both run from the western mountain ranges into the eastern flatlands and into the Pacific.  Besides these two major rivers, there are more than 50,000 rivers throughout China.</p>
			</div>
		</div>
	</main>

	<footer>
		<%- include('../partials/footer'); %>
	</footer>

	<script type="text/javascript" src="/javascripts/manual-slideshow.js"></script>

</body>
</html>