<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head'); %>
	<link rel="stylesheet" type="text/css" href="stylesheets/content_style.css">
</head>
<body>

	<header>
		<%- include('../partials/header'); %>
	</header>

	<main>
		<div class='container'>
			<div class='title'>
				<hr>
				<h1 class="h1-location">China</h1>
				<hr>
			</div>


			<div class='facts'>
				<h2 class="h2-facts">Quick Facts</h2>

				<img src="/images/peru/quickFacts/Flag_of_Peru.jpg" alt="Peruvian flag">
				<img src="/images/peru/quickFacts/peruMap.png" alt="Peruvian flag">

				<table>
					<tr>
						<th>Capital</th>
						<td>Lima (~8.9 million)</td>
					</tr>
					<tr>
						<th>Languages</th>
						<td>Spanish, Quechua, Aymara, and other indigenous languages</td>
					</tr>
					<tr>
						<th>Population</th>
						<td>~32.8 million</td>
					</tr>
					<tr>
						<th>Currency</th>
						<td>Peruvian Sol</td>
					</tr>
					<tr>
						<th>National Animal</th>
						<td>Vicuña</td>
					</tr>
					<tr>
						<th>National Dish</th>
						<td>Ceviche</td>
					</tr>
					<tr>
						<th>National Drink</th>
						<td>Pisco Sour (Alcoholic)<br>Inca Kola (Non-Alcoholic)</td>
					</tr>
				</table>
			</div>


			<div class='cuisine-pic'>
				<div class='cuisine-slide fade' style="display: none;">
					<img src="/images/peru/cuisine/lomoSaltado.jpg" alt="Peruvian dish, Lomo Saltado">
					<p class="p2-caption">Lomo Saltado - Chinese inspired stir fry with sliced beef, onions, tomatoes, and spices.  Served with fries and white rice.</p>
				</div>

				<div class='cuisine-slide fade' style="display: none;">
					<img src="/images/peru/cuisine/papaALaHuancaina.jpg" alt="Peruvian dish, Papa a la Huancaina">
					<p class="p2-caption">Papa a la Huancaína - Sliced boiled potatoes covered with a spicy, creamy cheese based sauce and garnished with olives, corn kernels, and hard boiled egg.</p>
				</div>

				<div class='cuisine-slide fade' style="display: none;">
					<img src="/images/peru/cuisine/causaRellena.jpg" alt="Peruvian dish, Causa Rellena">
					<p class="p2-caption">Causa Rellena  - Mashed potato layered with tuna salad, avocado, and shrimp.</p>
				</div>

				<div class='cuisine-slide fade' style="display: none;">
					<img src="/images/peru/cuisine/ceviche.jpg" alt="Peruvian dish, Ceviche">
					<p class="p2-caption">Ceviche - Marinated raw fish cured with lemon and lime and covered with cut onions.  Served with a sweet potato and choclo corn.</p>
				</div>

				<div class='cuisine-slide fade' style="display: none;">
					<img src="/images/peru/cuisine/cuy.jpg" alt="Peruvian dish, Cuy">
					<p class="p2-caption">Cuy - Fried guinea pig served with potatoes.</p>
				</div>

				<div class='cuisine-slide fade' style="display: none;">
					<img src="/images/peru/cuisine/empanada.jpg" alt="Peruvian dish, Empanada">
					<p class="p2-caption">Empanada - Meat, vegetable, or cheese filled turnover served with lime.</p>
				</div>

				<div class='cuisine-slide fade' style="display: none;">
					<img src="/images/peru/cuisine/chicharrones.jpg" alt="Peruvian dish, Chicharrones">
					<p class="p2-caption">Chicharrones (pictured right) - Fried, salted pork with a very crispy skin.</p>
				</div>

				<div class='cuisine-slide fade' style="display: none;">
					<img src="/images/peru/cuisine/chicharrones.jpg" alt="Peruvian dish, Rocoto Relleno">
					<p class="p2-caption">Rocoto Relleno (pictured top) - Chili pepper stuffed with ground beef, onions, olives, hard boiled egg, vegetables, and then covered with cheese.</p>
				</div>

				<div class='cuisine-slide fade' style="display: none;">
					<img src="/images/peru/cuisine/fish.jpg" alt="Peruvian dish, Roasted Trout">
					<p class="p2-caption">Roasted and seasoned trout served with lettuce, tomatoes, white rice, and a boiled purple potato.</p>
				</div>

				<div class='cuisine-slide fade' style="display: none;">
					<img src="/images/peru/cuisine/chocloConQueso.jpg" alt="Peruvian dish, Choclo con Queso">
					<p class="p2-caption">Choclo con Queso - Served as an appetizer, choclo is a bland and starchy corn that is paired with a salty cheese.</p>
				</div>

				<a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
  				<a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
			</div>

			<div class='cuisine-prompt'>
				<h2 class="h2-heading">Cuisine</h2>
				<p class="p-content">Peruvian cuisine varies across the region, however there are some staple foods that are common with many meals.  One of the foods Peru is most known for is its potatoes with there being over four thousand varieties!  Potatoes were historically and are currently grown widely across the region due to its ability to grow in harsh conditions.  With potatoes being as common as they are, they are served with almost every dish whether it be served as a side, commonly roasted in chunks or fried, or as part as a meal such as Causa Rellena, a layered mashed potato casserole with tuna and avocado, or Papa a la Huancaína which are boiled yellow potatoes served in a creamy, spicy Huancaína sauce.</p>
				<p class="p-content">Other staple foods of Peru include corn (especially the giant corn, Choclo), quinoa, and legumes.  Aside from the previous staple foods, much of the cuisine found across Peru also has its roots from other countries across the world.  Many of the more common staple foods originate from the Spanish.  Peru is also home to a sizable Chinese population which has resulted in a popular fusion cuisine known as Chifa.  Pizza has also become a largely consumed meal with pizzarias being found across many cities in Peru.</p>
			</div>


			<div class='culture-pic'>
				<div class='culture-slide fade' style="display: none;">
					<img src="/images/peru/culture/paintingSpanishIncan.jpg" alt="Peruvian painting, Spanish meet the Incans">
					<p class="p2-caption">Painting depicting the Spanish conquistadors meeting the Incans.  Found at the ancient Incan temple of Qorikancha in Cusco.</p>
				</div>

				<div class='culture-slide fade' style="display: none;">
					<img src="/images/peru/culture/textileTraditional.jpg" alt="Peruvian textile, traditional colors and textures">
					<p class="p2-caption">Fabrics made in Peru use many colors and intricate patterns and are typically made from llama or alpaca wool.</p>
				</div>

				<div class='culture-slide fade' style="display: none;">
					<img src="/images/peru/culture/pisco.jpg" alt="Peruvian spirit, Pisco, a grape brandy">
					<p class="p2-caption">Pisco is Peru's choice of high-proof spirit used in the national drink, Pisco Sour.  Pisco is a type of brandy made from a variety of grapes.</p>
				</div>

				<div class='culture-slide fade' style="display: none;">
					<img src="/images/peru/culture/retablo.jpg" alt="Peruvian art, Retablo, colorful box/container containing historical/traditional scenes and settings">
					<p class="p2-caption">Originating from the city of Ayacucho, Retablos are colorful boxes or containers containing historical, religious, or everyday scenes using handmade sculptures.</p>
				</div>

				<div class='culture-slide fade' style="display: none;">
					<img src="/images/peru/culture/cathedral.jpg" alt="Peruvian cathedral in a historic area of Lima">
					<p class="p2-caption">Religion is an important aspect of Peruvian culture.  Cathedrals are artfully created and filled with religious artifacts.</p>
				</div>

				<div class='culture-slide fade' style="display: none;">
					<img src="/images/peru/culture/paintingIncanDeath.jpg" alt="Peruvian painting, The Funerals of Inca Atahualpa">
					<p class="p2-caption">The Funerals of Inca Atahualpa - Painting found at the Lima Art Museum depict a scene with the death of the last Incan emperor.</p>
				</div>

				<a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
  				<a class="next" onclick="plusSlides(1, 1)">&#10095;</a>

			</div>

			<div class='culture-prompt'>
				<h2 class="h2-heading">Culture</h2>
				<p class="p-content">Peru’s culture originates from the native Incas, Spanish conquistadors/settlers, as well as more recent immigrant groups such as Africans, Japanese, Chinese, and Europeans.  When it comes to arts and crafts, weaving is a common practice traditionally spun with llama or alpaca wool to make fabrics and clothing with intricate patterns and vibrant colors.  Continuing with the colorful theme, Retablos are colorful wooden altars depicting various sculpted figures and scenes usually religious related or originating from everyday activities.  Although painting has become more abstract in recent years, paintings were mostly related to religion as well as important battles and heroes of the story of Peru’s independence.</p>
				<p class="p-content">For traditional music, two of the most common instruments found in any composition include a drum and a panpipe.  For traditional music, Peruvian music generally relies on a percussion instrument, commonly a drum, and a wind instrument, commonly a panpipe or flute.  Many Peruvians, when it comes to sports, enjoy playing soccer, the national sport of Peru.  Towards the coast, however, surfing has also become a popular sport.</p>
			</div>


			<div class='geography-pic'>
				<div class='geography-slide fade' style="display: none;">
					<img src="/images/peru/geography/paracas.jpg" alt="Peruvian geography, coastal desert of Paracas">
					<p class="p2-caption">Coastal desert found at the national reserve in Paracas.</p>
				</div>

				<div class='geography-slide fade' style="display: none;">
					<img src="/images/peru/geography/altiplano.jpg" alt="Peruvian geography, Andea Plateau">
					<p class="p2-caption">The Altiplano, or Andean Plateau, is situated around 16,000 feet above sea level.</p>
				</div>

				<div class='geography-slide fade' style="display: none;">
					<img src="/images/peru/geography/colcaCanyon.jpg" alt="Peruvian geography, Colca Canyon">
					<p class="p2-caption">The Altiplano, or Andean Plateau, is situated around 16,000 feet above sea level.</p>
				</div>

				<div class='geography-slide fade' style="display: none;">
					<img src="/images/peru/geography/valley.jpg" alt="Peruvian geography, flat valleys contrast the mountainous landscapes">
					<p class="p2-caption">Many cities in the Andean region are settled in the flat vallies between mountains that appear to just pop out of the flat ground.</p>
				</div>

				<div class='geography-slide fade' style="display: none;">
					<img src="/images/peru/geography/lakeTiticaca.jpg" alt="Peruvian geography, Lake Titicaca">
					<p class="p2-caption">Lake Titicaca is the highest navigable lake in the world at over 12,500 ft.  It is home to the Uros civilization known for its floating grass islands.</p>
				</div>

				<a class="prev" onclick="plusSlides(-1, 2)">&#10094;</a>
  				<a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
			</div>

			<div class='geography-prompt'>
				<h2 class="h2-heading">Geography</h2>
				<p class="p-content">With Peru situated along the Pacific coast as well as the Andes mountains, it offers a wide variety of geography.  Aside from its steep, snow tipped mountains and humid Pacific coast, Peru also shares much of its geography with the Amazon rainforest.  Another large portion of Peru’s geography is its high and flat plateaus.   Outside of the jungle, much of Peru is quite dry due to its location next to the Andes as well as the lack of moisture containing air masses from the Pacific.  Along the coast, the country is lined with coastal deserts that provide for some amazing natural sights. Peru, as well as Bolivia, is home to the highest navigable lake in the world, Lake Titicaca,  located 12,500ft above sea level.  With the wide variety of geographies across Peru, it is home to an incredible amount of biodiversity and as such has been labeled as a megadiverse country by the Conservation International organization.</p>
			</div>
		</div>
	</main>

	<footer>
		<%- include('../partials/footer'); %>
	</footer>

	<script type="text/javascript" src="/javascripts/manual-slideshow.js"></script>

</body>
</html>