<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="content">

    <h2>Welcome to Curious Traveler!</h2>
    <p class="p1-centered">The home for learning introductory information about countries across the globe.</p>  
    <p class="p1-centered">Click on a tab above to get started!</p>

    <img src="/images/homeSlideshow/MachuPichu.jpg" class="home-slideshow" alt="Machu Pichu overlook">
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>