<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head'); %>
</head>
<body>

<header>
	<%- include('../partials/header'); %>
</header>

<main>
	<div class="content">
		<div class="location-column-left">

			<div class="location-title">
				<hr class="half-width">
				<h1 class="h1-location">Peru</h1>
				<hr class="half-width">
			</div>

			<div class="location-cuisine">
				<div class="location-album">
					<img class="location-pic" src="/images/peru/cuisine/fish.jpg">
				</div>
				
				<div class="location-text">
					<h2>Cuisine</h2>
					<p>A paragraph on Peruvian cuisine.</p>
				</div>
				
			</div>

		</div>

		<div class="location-column-right">
			<p>This is an element!</p>
		</div>
	</div>
</main>

<footer>
	
	<%- include('../partials/footer'); %>
</footer>

</body>
</html>