<div class="navbar">
    <div class="navbar-top">
        <img class="headerBackground" src="/images/headerBackground.jpg" alt="Peruvian landscape">
        <a href="/" class="home-shortcut">
            <img class="largeLogo" src="/images/LargeLogoFinal.png">
        </a>
        
    </div>

    <div class="navbar-nav">
        <ul class="navbar-list">
            <li class="navbar-link"><a href="/peru">Peru</a></li>
            <li class="navbar-link"><a href="/about">China</a></li>
            <li class="navbar-link"><a href="/about">Destination Map</a></li>
            <li class="navbar-link"><a href="/about">Find a Destination</a></li>
            <li class="navbar-link"><a href="/about">About Me</a></li>
        </ul>
    </div>
</div>